button {
  background-color: maroon;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 0px 20px gray;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

#navbarBtn {
  height: 30px;
  box-shadow: none;
}

#tryRadiancyBtn {
  font-size: 20px;
  box-shadow: 3px 4px 3px grey;
  text-transform: capitalize;
  margin: 32px 0px;
  padding: 8px 40px;
}

#seeRefBtn {
  background-color: transparent;
  font-weight: 400;
  border: solid black 2px;
  box-shadow: none;
  color: gray;
  text-transform: capitalize;
  padding: 10px 20px;
  margin-bottom: 30px;
}
