.contentFourWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentFourWrapper div {
  display: flex;
}

.contentFourWrapper div div {
  flex-direction: column;
}

.contentFourWrapper img {
  height: 200px;
  margin: 16px 0px;
}

.contentFourWrapper p {
  width: 580px;
  margin-bottom: 0px;
  text-align: left;
}

@media (max-width: 719px) {
  .contentFourWrapper p {
    width: 380px;
    margin-bottom: 0px;
    text-align: left;
  }
}
