.contentSixWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0px;
}

.contentSixWrapper img {
  height: 250px;
  margin: 16px 0px;
}

.contentSixWrapper p {
  width: 580px;
  margin-bottom: 0px;
  text-align: left;
}

@media (max-width: 719px) {
  .contentSixWrapper p {
    width: 380px;
    margin-bottom: 0px;
    text-align: left;
  }
}
